nav {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #1ab2ff;
    position: relative;
}

.menu {
    position: absolute;
    width: 600px;
    height: 100%;
    left: 8%;
    text-align: center;
}

.menu > li {
    width: 20%;
    height: 100%;
    line-height: 80px;
    display: block;
    float: left;
    margin-left: 30px;
}

.menu > li:first-child {
    margin-left: 0;
}

.menu > li > a {
    color: black;
}

.accountBox {
    position: absolute;
    width: 300px;
    height: 40px;
    right: 4%; bottom: 25%;
}

.accountBox > div.info > span {
    margin-left: 30px;
}

.accountBox > div.info > a {
    margin-left: 130px;
}

.accountBox > div > span {
    position: absolute;
    height: 100%;
    float: left;
    margin-right: 20px;
    line-height: 40px;
}

.accountBox > div > a {
    width: 35%;
    height: 40px;
    float: left;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    border-radius: 7px;
    color: black;
}

.goLogin {
    background-color: #1ab2ffa6;
}

.goLogout {
    background-color: rgba(255, 0, 0, 0.336);
}

.goRegister {
    background-color: rgba(255, 0, 0, 0.336);
}