#wrapper {
    width: 900px;
    height: 830px;
    margin-top: 40px;
}

.writeBox {
    width: 100%;
    height: 100%;
    position: relative;
}

#select {
    position: absolute;
    top: 5px;
}

#select > .opt {
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid black;
}

.title {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 55px;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid #888;
    padding: 8px;
}

#content {
    position: absolute;
    width: 100%;
    height: 540px;
    bottom: 180px;
    resize: none;
    border-radius: 2px;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
}

.submit {
    position: absolute;
    width: 90px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    bottom: 130px;
    right: 0;
    border: 0;
    border-radius: 2px;
    color: #fff;
    background-color: #1ab2ff;
}

.submit:hover {
    background-color: #00a9ff;
}

.textCheck {
    position: absolute;
    left: 0;
    bottom: 130px;
    font-weight: bold;
}

.numb {
    display:none
}